:deep() {
  .news {
    margin: 16px;
  
    &__title {
      font-weight: bolder;
      margin-top: 0;
      margin-bottom: 12px;
    }
  
    &__slide-box {
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      padding: 16px;
      margin: 12px;
    }
  
    &__user-box {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  
    &__picture {
      background-color: orangered;
      border-radius: 50%;
    }
  
    &__name {
      font-size: 16px;
      font-weight: bolder;
      color: red;
      margin: 0;
      flex-grow: 1;
    }
  
    &__datetime {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-end;
    }
  
    &__text-datetime {
      font-size: 12px;
      margin: 0;
    }
  
    &__description {
      margin-top: 8px;

      p {
        margin-top: 0;
        margin-bottom: 4px;
      }
    }

    &__swiper-container {
      height: 200px;
    }
  }

  swiper-container::part(pagination) {
    top: unset;
    bottom: 0;
  }

  swiper-container::part(bullet) {
    width: 12px;
    height: 12px;
  }

  swiper-container::part(bullet-active) {
    background-color: red; 
    width: 12px;
    height: 12px;
  }
}